.card {
    border: 1px solid #e0e0e0;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.card-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}
.card-body h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    padding: 0;
    color: rgb(48, 33, 223);
}
.card-body p:nth-child(2) {
  
    color: rgb(181, 44, 176);
}
.card-body p:nth-child(3) {
  
    color: rgb(162, 65, 227);
}
.card-body p:nth-child(4) {
  
    color: rgb(209, 55, 55);
}
.card-body p:nth-child(5) {
  
    color: rgb(209, 55, 101);
}
.btn { 
    background-color: rgb(48, 33, 223);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}